## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
numero = 5
print("El número de la variable es:",numero)

El número de la variable es: 5

2) Imprimir el tipo de dato de la variable 8.5

In [2]:
variable = 8.5
print(f"La variable de valor 8.5 es del tipo {type(variable)}")

La variable de valor 8.5 es del tipo <class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(f"La variable {numero} es del tipo {type(variable)}")

La variable 5 es del tipo <class 'float'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre = "Enrique Mario Giunta"

5) Crear una constante que contenga el número Pi

In [8]:
PI = 3.14159875

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
print(f"El tipo de dato de la constante PI es {type(PI)}")

El tipo de dato de la constante PI es <class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [15]:
e = 2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [16]:
variable1 = 'True'
variable2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [17]:
print(f"La variable1 es del tipo {type(variable1)}")
print(f"La variable2 es del tipo {type(variable2)}")

La variable1 es del tipo <class 'str'>
La variable2 es del tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
suma = 10 + 5.5

11) Realizar una operación de suma de un número definido como string con un entero

In [21]:
a = "100"
b = 11
c = int(a) + b
#print(c)

111

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [31]:
ee = e**3
#print(f"e ^ 3 = {ee}")

e ^ 3 = 20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [36]:
a = int(input("Ingrese un número:"))
b = a*100
#print (f"{a} * {100} es {b}")

44 * 100 es 4400

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [38]:
a = 27/4
print(f"27/5 = {a}")

27/5 = 6.75

15) De la división anterior solamente mostrar la parte entera

In [51]:
parte_entera = int(a)
print(f"La parte entera de {a} es {parte_entera}")

La parte entera de 6.75 es 6

16) De la división de 27 entre 4 mostrar solamente el resto

In [52]:
resto = 27%4
print(f"El resto de la división de 27 entre 4 es {resto}")

El resto de la división de 27 entre 4 es 3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16. Obtener 27 como resultado

In [54]:
test = 4*parte_entera+resto
print(test)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [56]:
if type("2") == type(2):
    print("Iguales")
else:
    print("No iguales")

No iguales

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 19 resulte verdadera

In [57]:
if type("2") == type(str(2)):
    print("Iguales")
else:
    print("No iguales")

Iguales

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [59]:
# Tira error porque el separador decimal debe ser un punto en lugar de una coma
# Debería quedar así:
# a = float('3.8')

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [61]:
# No está permitida la operación 2 + '2' porque son de tipos de datos diferentes.
# No, si ambos fueran numéricos, daría como resultado la suma 4.
print(2+2)
# Si ambos fueran string daría como resultado una salida concatenando a ambas. 
print('2'+'2')

4
22

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [63]:
menu = """
1 - Pizza
2 - Empanadas
3 - Milanesas
4 - Salir
"""
print(menu)

1 - Pizza
2 - Empanadas
3 - Milanesas
4 - Salir

23) Crear una lista que contenga los números del 1 al 10

In [64]:
lista = [1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [65]:
print(lista[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [67]:
lista[2]="Enrique"
#print(lista)

[1, 2, 'Enrique', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [78]:
matriz = [ ['A','B','C'], ['D','E','F'], ['G','H','I'] ]

27) Imprimir la matriz creada en el punto 26

In [83]:
print(f"{matriz[0]}\n{matriz[1]}\n{matriz[2]}")

[1, 2, 3]
['D', 'Z', 'F']
['G', 'H', 'I']

28) Modificar la letra E de la matriz y colocar la letra Z

In [80]:
matriz[1][1]='Z'

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [82]:
matriz[0] = [1,2,3]

30) Crear una tupla que contenga 5 marcas de ropa

In [84]:
ropas = ('adidas', 'nike', 'lacoste', 'the sportsman', 'reebok')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [85]:
print(ropas[0])

adidas

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [87]:
ropas[1] = 'knorr'
# No se puede porque al ser una tupla por definición contienen valores no modificables.

TypeError: 'tuple' object does not support item assignment

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [89]:
diccionario = {"nombre" : "Enrique", "apellido" : "Giunta", "hobbies" : ["Astronomía", "Ciclismo", "hiking"] }

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [92]:
print(diccionario["hobbies"])

['Astronomía', 'Ciclismo', 'hiking']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [91]:
diccionario["nombre"] = "Mario"